/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
html, body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 10px;
}

/* images and videos max out at full width */
img,
video {
  height: 200px;
  max-width: 100%;
}

.nav  > div {
  
  margin-left:20px;
  text-align: center;
  font-size: 2em;
  color: #1e7135;
  border-style: dashed =;
  border
}

.nav > div:nth-child(1) {
  background-color: #1e7135;
}

.nav > div:nth-child(2) {
  background-color: #1e7135;
}

.nav > div:nth-child(3) {
  background-color: #800080;
}

#footer {
  position: fixed;
  border-style: solid;  
  padding: ;
  left: ;
  bottom: ;
  width: ;
  background-color: #1e7135;
  text-align: center;
}